@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --first-color: rgb(50, 50, 50);
    --second-color: rgb(26, 26, 26);
    --third-color: rgb(78, 78, 78);
    --fourth-color: rgb(65, 65, 65);
    --background-color: rgb(54, 50, 50);
    --text-color: #fff;

    --box-shadow: 0 5px 25px rgba(2, 2, 2, 0.1);
    --text-shadow: 0 5px 25px rgba(2, 2, 2, 0.1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    overflow-y: hidden;
}

body {
    background: var(--background-color);
}

/*=== box ===*/

.box {
    color: var(--text-color);
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 200px;
    background: var(--third-color);
    border-radius: 30px;
    padding-top: 2em;
    padding-left: 5em;
    padding-right: 5em;
    padding-bottom: 5em;
}

.title {
    margin-top: 1em;
    font-size: 35px;
}

.txt {
    font-size: 20px;
    margin-top: .5em;
    padding-top: 2em;
}